################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/AzureChat/obj/Debug
/AzureChat/bin
/.vs
/Enums/bin/Debug/netstandard2.0
/Enums/obj/Debug/netstandard2.0
/Enums/obj
/Validators/bin/Debug
/Validators/obj/Debug
/ViewModels/bin/Debug
/ViewModels/obj/Debug
/AzureChat/obj/Release/AspnetCompileMerge/Source/bin
/AzureChat/obj/Release
/Validators/bin/Release
/Validators/obj/Release
/ViewModels/bin/Release
/Enums/bin/Release/netstandard2.0
/ViewModels/obj/Release
