@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="container">
    <input type="hidden" id="displayname" />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div >
                    <div class="panel-body">
                        <ul class="chat" id="discussion"></ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="sendmessage">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.0-preview1-20180920-03.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.broadcastMessage = function (name, message) {
                var currentdate = new Date();
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                $('#discussion').append('<li class="left clearfix">' +
                    '<div class="chat-body clearfix">' +
                    '<div class="header">' +
                    '<strong class="primary-font">' + encodedName + '</strong> <small class="pull-right text-muted">' +
                    '<span class="glyphicon glyphicon-time"></span>' + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds() +
                    '</small>' +
                    '</div>' +
                    '<p>' + encodedMsg +
                    '</p>' +
                    '</div>' +
                    '</li>');
            };

            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}

